<%= content_for :header_title, '新增话题' %>

<!-- Get Started Block -->
<div class="block full">
  <!-- Get Started Title -->
  <div class="block-title">
    <h2>新增话题</h2>
  </div>
  <!-- END Get Started Title -->


  <!-- Get Started Content -->
  <%= render 'issues/form' %>

  <!-- END Get Started Content -->
</div>
<!-- END Get Started Block -->
