<%= content_for :header_title, 'Issues \ New' %>

<!-- Get Started Block -->
<div class="block full">
  <!-- Get Started Title -->
  <div class="block-title">
    <h2>New Issue</h2>
  </div>
  <!-- END Get Started Title -->


  <!-- Get Started Content -->
  <%= render 'issues/form' %>

  <!-- END Get Started Content -->
</div>
<!-- END Get Started Block -->
