<li>
    <%= link_to '<i class="fa fa-ticket sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Issues</span>'.html_safe, issues_path %>
</li>
<li>
    <%= link_to '<i class="gi gi-group sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Users</span>'.html_safe, users_path %>
</li>
<li>
    <%= link_to '<i class="gi gi-keys sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Password</span>'.html_safe, edit_user_registration_path %>
</li>
<li>
    <%= link_to '<i class="hi hi-off sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Logout</span>'.html_safe, destroy_user_session_path, method: :delete %>
</li>
