<!-- Main Sidebar -->
<div id="sidebar">
  <!-- Sidebar Brand -->
  <div id="sidebar-brand" class="themed-background">
    <a href="index.html" class="sidebar-title">
      <i class="fa fa-bug"></i> <span class="sidebar-nav-mini-hide"><strong>Glamorous</strong></span>
    </a>
  </div>
  <!-- END Sidebar Brand -->

  <!-- Wrapper for scrolling functionality -->
  <div id="sidebar-scroll">
    <!-- Sidebar Content -->
    <div class="sidebar-content">
      <!-- Sidebar Navigation -->
      <ul class="sidebar-nav">
        <%= render 'layouts/sidebar_links' %>
      </ul>
      <!-- END Sidebar Navigation -->

    </div>
    <!-- END Sidebar Content -->
  </div>
  <!-- END Wrapper for scrolling functionality -->

  <!-- Sidebar Extra Info -->
  <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
    <div class="text-center">
      <small>Crafted with <i class="fa fa-heart text-danger"></i> by <a href="mailto:tangrufus@gmail.com" target="_blank">Tang Rufus</a></small>
      <br>
      <small><span id="year-copy"></span> &copy; <a href="https://www.pinot.hk" target="_blank">Pinot</a></small>
    </div>
  </div>
  <!-- END Sidebar Extra Info -->
</div>
<!-- END Main Sidebar -->
